
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #202020; /* черный фон для всей страницы */
  color: white; /* белый текст по умолчанию */
}

header .navbar-dark{
  background-color: #000 !important;
  color: white;
}

.containerl{
  color: #000000;
  background-color: #ffffff;
  padding: 30px;
  opacity: 0.5;
  border-radius: 10px;
}

.containerb{
  display: flex;
  gap: 10px;
  margin-top: 20px; /* Отступ сверху для контейнера */
}

/* Адаптация для маленьких экранов */
@media (max-width: 768px) {
  /* Например, делаем блоки занимать всю ширину */
  .containerb{
    flex-direction: column; /* вертикальный стек элементов */
  }
  .im{
    align-self: center;
  }
  .containerb img{
  margin-right: 160px;
  }
  img{
    max-width: 100%;
    height: auto;
  }
}

.containerb img {
  justify-content: center;
  max-width: 220px !important;
  height: auto;
  margin-left: 160px;
}

footer{
  padding: 25px;
  background-color: #000 !important;
  color: white !important;
  display: flex;
  min-height: 40vh;
  flex-direction: column;
}

.modal-content {
  padding-top: 40px;
  background-color: #000 !important;
  color: white !important;
}


/* Счетчик на иконке корзины */
.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red !important;
  color: white !important;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Карточка */
.card {
  transition: transform 0.4s;
  cursor: pointer;
  background-color: #121212; /* темный фон для карточек */
  color: white;
}

.card:hover {
  transform: scale(1.02);
}

#body-fon {
  background-image: url('../image/fon.png');
  background-repeat: no-repeat;
  background-size: cover; /* или contain, в зависимости от желаемого эффекта */
  background-position: center;
}